<!doctype html>
<html>
<head>
	<title>Activity Tracker</title>
	<meta charset="utf-8">
    <meta name="author" content="Matthew Castillo">
    <link rel="stylesheet" type="text/css" href="css/cssSheet.css">
</head>
<body>

	{{{body}}}
	<script type="text/javascript" src="createPage.js"></script>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>