body {
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 220%;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

h2,h3,h4,h5 {
  color: #222222;
}

.increaseFont {
  font-size: 170%;
  font-weight: bold;
}

.font-bold {
  font-weight: bold;
  color: #333333;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center-margin {
  margin: 0 auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}

/* NAVIGATION BAR */
nav {
  margin: 0 auto;
  text-align: center;
}

/* FORM STYLE */
form {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 45px;
}

/* WORKOUTS HEADER */
#headLine {
  border: 3px solid gray;
  padding: 15px 0px 15px 0px;
  margin: 0 auto;
  margin-bottom: 5px; 
}

#selection {
  border: 1px solid gray;
  padding: 15px 0px 15px 0px;
  margin: 3px; 
}

.modalStyle {
      position: absolute;
      top: 40px;
      left: 25%;
      right: 25%;
      bottom: 25%;
      border: 1px solid #ccc;
      background: #fff;
      overflow: auto;
      outline: none;
      padding: 20px;
}